# Build folders
build/
output/

x64/
Debug/
Release/

# Application folders
.vs

# vs2010
ipch/
*.opensdf
*.sdf
*.suo

*.user
*.lnk

# NuGet packages
packages/

!*.dll
!*.lib

# Resources bin
*.aps

docs/